:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 4em auto;
}

.title {
  font-size: 2.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input {
  height: 2em;
  padding: 5px;
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 10px;
  outline: none;
}

form input.error {
  border-color: rgb(193, 14, 14);
}

form input::placeholder {
  color: rgb(159, 159, 159);
}

form small {
  color: rgb(193, 14, 14);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: .5em auto;
}

input.error {
  border-color: rgb(193, 14, 14);
}

input.success {
  border-color: green;
}